<html lang="en" class="gr__getbootstrap_com"><head>
        <head>
        	<title>Sinatra Framework</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/application.css">
          <script src="/js/application.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Ribeye+Marrow" rel="stylesheet">

        </head>

<body>



<ul>
  <li><a class= "active underline logo" href="/">Bitly</a></li>
  <li><a href="/tour" class="underline">Tour</a></li>
  <li><a href="/enterprise" class="underline">Enterprise</a></li>
  <li><a href="/about" class="underline">About</a></li>
</ul>


 <!--  <body data-gr-c-s-loaded="true" data-feedly-mini="yes"> -->
<!-- <div class = 'container'>
   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="bitlylogo.png"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">TOUR</a></li>
      <li><a href="#">ENTERPRISE</a></li>
      <li><a href="#">RESOURCES</a></li>
      <li><a href="#">BLOG</a></li>
      <li><a href="#">ABOUT </a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
</div>

 -->
<div style = "min-width:1600px; margin:0 auto;">

		<%= yield %>

</div>
	</body>
</html>